
name: Release

on:
  push:
    tags: [ '*' ]

jobs:
    publish:
      runs-on: ubuntu-latest
      if: github.ref_type == 'tag'
      steps:
        - uses: actions/checkout@v4
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
              dotnet-version: 8.0.x
        - name: Restore dependencies
          run: dotnet restore
        - name: Build
          run: dotnet build --no-restore
        - name: Publish
          run: dotnet publish AGV.ZXing -c Release -r linux-x64 --no-self-contained -o ./publish
        - uses: montudor/action-zip@v1
        - name: Create ZIP artifact
          run: zip -qq -r ZXingLib.zip ./publish
        - name: Upload ZIP artifact
          uses: actions/upload-artifact@v4
          with:
              name: ZXingLib
              path: ZXingLib.zip
    release:
        runs-on: ubuntu-latest
        needs: publish
        if: github.ref_type == 'tag'
        steps:
        - name: Download ZIP artifact
          uses: actions/download-artifact@v4
          with:
            name: ZXingLib
        - name: Create Release
          uses: softprops/action-gh-release@v1
          with:
            tag_name: v${{ github.ref_name }}
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        - name: Upload ZIP to Release
          uses: softprops/action-gh-release@v1
          with:
            tag_name: v${{ github.run_number }}
            files: ZXingLib.zip
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}