
name: Release

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: 'Select the environment'
      tag:
        type: string
        description: 'Select the tag to release'
  push:
    tags: [ '*' ]

jobs:  
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Publish
        run: dotnet publish AGV.ZXing -c Release -r linux-x64 --no-self-contained -o ./publish
      - uses: montudor/action-zip@v1
      - name: Create ZIP artifact
        run: zip -qq -r ZXingLib.zip ./publish
      - name: Upload ZIP artifact
        uses: actions/upload-artifact@v4
        with:
            name: ZXingLib
            path: ZXingLib.zip
  odc:
    runs-on: ubuntu-latest
    needs: publish
    environment: ${{ inputs.environment }}    
    steps:
      - name: Get Token Endpoint
        id: token-endpoint
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ vars.BASE_URL }}/identity/.well-known/openid-configuration
          method: 'GET'
      - name: Get Access Token
        id: odc-token
        uses: fjogeleit/http-request-action@v1
        env:
          TOKEN_ENDPOINT: ${{ fromJson(steps.token-endpoint.outputs.response).token_endpoint }}
        with:
          url: ${{ vars.TOKEN_ENDPOINT }}
          method: 'POST'
          contentType: 'application/x-www-form-urlencoded'
          data: 'grant_type=client_credentials&client_id=${{ vars.ODC_CLIENT_ID }}&client_secret=${{ secrets.ODC_CLIENT_SECRET }}&scope=openid+profile+email'
      - name: Upload Package to ODC
        id: upload-odc
        uses: fjogeleit/http-request-action@v1
        env:
          ACCESS_TOKEN: ${{ fromJson(steps.odc-token.outputs.response).access_token }}
        with:
          url: ${{ vars.BASE_URL }}/api/external-libraries/v1/generation-operations
          method: 'POST'
          contentType: 'application/json'
          data: |
            {
              "fileName": "ZxingLib.zip",
              "highCodeBinaryUri": "${{ needs.publish.outputs.artifact_url }}",
            }
  # release:
  #     runs-on: ubuntu-latest
  #     needs: publish
  #     if: github.ref_type == 'tag'
  #     steps:
  #     - name: Download ZIP artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: ZXingLib
  #     - name: Create Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         tag_name: v${{ github.ref_name }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Upload ZIP to Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         tag_name: v${{ github.run_number }}
  #         files: ZXingLib.zip
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}