
name: Release

on:
  workflow_dispatch:
  push:
    tags: [ '*' ]

jobs:  
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
            dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Publish
        run: dotnet publish AGV.ZXing -c Release -r linux-x64 --no-self-contained -o publish
      - uses: montudor/action-zip@v1
      - name: Create ZIP artifact
        run: zip -qq -r ZXingLib.zip publish
      - name: Upload ZIP artifact
        id: upload-artifact
        uses: actions/upload-artifact@v4
        with:
            name: ZXingLib
            path: ZXingLib.zip
      - name: Display Artifact Info
        run: |
          echo "Artifact URL: ${{ steps.upload-artifact.outputs.artifact-url }}"
    outputs:
      artifact_url: ${{ steps.upload-artifact.outputs.artifact-url }}
  upload_to_odc:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - name: Get Token Endpoint
        id: token-endpoint
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ vars.TENANT_URL }}/identity/.well-known/openid-configuration
          method: 'GET'
      - name: Get Access Token
        id: access-token
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ fromJson(steps.token-endpoint.outputs.response).token_endpoint }}
          method: 'POST'
          contentType: 'application/x-www-form-urlencoded'
          data: 'grant_type=client_credentials&client_id=${{ vars.ODC_CLIENT_ID }}&client_secret=${{ secrets.ODC_CLIENT_SECRET }}&scope=openid+profile+email'        
      - name: Upload Package to ODC
        id: upload-odc
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{ vars.TENANT_URL }}/api/external-libraries/v1/generation-operations
          method: 'POST'
          customHeaders: |
            Authorization: Bearer ${{ fromJson(steps.access-token.outputs.response).access_token }}          
          contentType: 'application/json'
          data: |
            {
              "fileName": "ZXingLib.zip",
              "highCodeBinaryUri": "${{ needs.publish.outputs.artifact_url }}",
            }
  # release:
  #     runs-on: ubuntu-latest
  #     needs: publish
  #     if: github.ref_type == 'tag'
  #     steps:
  #     - name: Download ZIP artifact
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: ZXingLib
  #     - name: Create Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         tag_name: v${{ github.ref_name }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Upload ZIP to Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         tag_name: v${{ github.run_number }}
  #         files: ZXingLib.zip
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}